<div class="body">
  <div class="container">
    <p id></p>
    <div class="row">
      <div class="col-lg-3">
        <h2>User info</h2>
        <%= attachment_image_tag @user, :profile_image, :full, 100, 100, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
      </div>
      <table class="table">
        <tboby>
          <tr>
            <th>name</th>
            <th
          </tr>
        </tboby>
      </table>
    </div>
  </div>
</div>
